<section id="chat-box">
            <div class="text-area">
                <ul id="chat-list">
                    <li>
                        <div class="other-msg">
                            Other Message
                        </div>
                    </li>
                    <li>
                        <div class="self-msg">
                            New Message
                        </div>
                    </li>
                </ul>
            </div>
            <div class="new-message">
                <div class="new-message-input">
                    <input id="new-message-ip" type="text" name="chat" placeholder="Type something here">
                </div>
                <div class="new-message-button">
                    <button id="new-message-btn">Send</button>
                </div>
            </div>
        </section>