<ul id="post-comment-<%=post._id%>">
    <% for (comment of post.comments){%>
        <% if( locals.user && (locals.user.id == post.user.id ||locals.user.id == comment.user.id )){ %>
            <li>
            <a class="delete-comment-button" href="/comment/delete/<%=comment.id%>">
                X
            </a>
        <% } %>
            <p>
                <%=comment.content %> by
                <small>
                    <%= comment.user.name %>
                </small>
            </p>
        </li>
    <%} %>
</ul>