<footer>
    <div class="rights">
        @Sagar Boora. All rights reserved.
    </div>
    <div class="footer-link">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/users/profile">Profile</a>
            </li>
            
        </ul>
    </div>
</footer>