<footer>
    <div class="rights">
        @Sagar Boora. All rights reserved.
    </div>
    <div class="footer-link">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <% if(locals.user){ %>
                    <a href="/users/profile/<%=user.id%>">
                        Profile
                    </a>
                <%}%>    
            </li>
            
        </ul>
    </div>
</footer>