
<form action="/forgot_password" method="POST">
    <input type="text" placeholder="Enter your new password" name="pass">
    <br>
    <input type="text" placeholder="Verify password" name="againpass">
    <br>
    <input type="submit">
</form>