
<h1>
    Welcome To Home
</h1>
<section id="feed-post">
    <h4>Post</h4>
    <% if(locals.user){ %>    
        <form action="/post/create" method="POST" id="new-post-form">
            <textarea placeholder="Enter your post" name="content" cols="30" rows="3"> </textarea>
            <br>
            <input type="submit" value="Post">
        </form>
    <% } %>

    <div class="posts-list-contianer">
        <% if(locals.user){%>
            <ul>
                <% for(post of posts){
                    %>
                    <li>
                        <%=post.content%> By <br>
                         <%=post.user.name %>
                        <div class="post-comment">
                            <!-- form for comment -->
                           <form method="POST" action="/comment/create">
                                <input type="text" placeholder="Enter your comment" name="content">
                                <input type="hidden" name="postid" value="<%=post._id%>" >
                                <input type="submit" value="Add Comment">
                           </form>
                        </div>
                    </li>
                    <%
                }%>
                
            </ul>
            <%
        }else{
            %>
            <p> 
                User not found.
            </p>
            <%
        }
        %>
    </div>
</section>