<link rel="stylesheet" href="/css/home.css">
<h1>
    Welcome To Home
</h1>
<div id="home-container">
    <section id="feed-post">
        <h4>Post</h4>
        <% if(locals.user){ %>    
            <form action="/post/create" method="POST" id="new-post-form">
                <textarea placeholder="Enter your post" name="content" cols="30" rows="3"> </textarea>
                <br>
                <input type="submit" value="Post">
            </form>
        <% } %>
    
        <div id="posts-list-contianer">
                <ul>
                    <% for(post of posts){
                    %>
                        <%- include("_post") -%>
                    <% } %>
                </ul>
        </div>
    </section>
    
    <section id="user-friends">
        <%if(locals.user){%>
            <%  for(u of all_users){
                %>
                <p>
                    <a href="/users/profile/<%=u.id%>">
                        <%=u.name %>
                    </a>
                </p>
            <%} %>
        <%}%>
    
    </section>
</div>
<script src="./js/home_posts.js">

</script>
<script src="./js/like.js">

</script>