Sign Up
<form action="/users/create" method="POST">

    <label for="user-name">Name</label>
    <input type="text" required="true" id="user-name" name="name" placeholder="Enter Your Name">
    <br>

    <label for="user-email">Email</label>
    <input type="email" required="true" id="user-email" name="email"  placeholder="Enter Your Email">
    <br>

    <label for="user-password">Password</label>
    <input type="password" required="true" id="user-password" name="password" placeholder="Enter Your Password">
    <br> 

    <label for="confirm-user-password">Confirm Password</label>
    <input type="password" required="true" id="confirm-user-password" name="confirm_password" placeholder="Enter Your Password Again">
    <br> 
    
    <button type="submit"> Sign Up</button>

</form>