Sign In
<form action="users/create-session" method="POST">
    <label for="user-email">Email</label>
    <input type="email" required="true" id="user-email" name="my-email">
    <br>
    
    <label for="user-password">Password</label>
    <input type="password" required="true" id="user-password" name="my-passowrd">
    <br>
    
    <button type="submit"> Sign In</button>

</form>