Sign Up
<form>
    <label for="user-email">Email</label>
    <input type="email" required="true" id="user-email" name="my-email">
    
    <label for="user-password">Password</label>
    <input type="password" required="true" id="user-password" name="my-passowrd">
        
    <button type="submit"> Submit</button>

</form>