body{
width: 100%;

 #home-container{
    display: flex; 
    width: 100%;
    min-height:100%;
    height:auto;
    #feed-post{
        width: 70%;
        padding:10x;
        border-right: 2px solid grey;
    }
    #user-friends{
        width: 30%;
        height:100%;
        padding:10x;
        display: flex;
        flex-direction: column;
    }
 }

}